.login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 2160px;
    margin: auto;
    position: relative;
}

.login__content-container {
    padding: 50px;
    flex: 2;
}

.login__content {
    display: grid;
    padding: 20px;
    border-radius: 8px;
    max-width: 512px;
    text-align: center;
    gap: 10px;
    margin: auto;
}

.login__title {
    font-size: 22px;
    margin-bottom: 10px;
}

.login__paragraph {
    font-size: 15px;
    margin: auto;
    margin-bottom: 20px;
}

.login input {
    width: 100%;
}

.login__forgot-password a {
    display: block;
    text-align: right;
    font-size: 14px;
    color: #2969e3;
    text-decoration: none;
}

.login__button {
    width: 100%;
}

.login__button.disabled {
    background-color: #CFCFCF;
    cursor: not-allowed;
}

.login__register-link {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
}

.login__register-link a {
    color: #2969e3;
    text-decoration: none;
}

