.container__table {
  padding: 0px 44px;
}

.excel-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--border-color);
}

.excel-table td,
.excel-table th {
  border-bottom: 1px solid var(--border-color);
  align-items: center;
  padding: 10px;
  text-align: left;
}

.excel-table th:nth-child(1){
  text-align: center;
}

.section_into-td{
  display: flex;
  align-items: center;
  gap: 10px;
}



.excel-table img {
  width: 35px;
  height: 35px;
}

.action__icon {
  border-bottom:none;
  cursor: pointer;
}
