.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--border-color);
    width: 119px;
    height: 113px;
    cursor: pointer;
}

.card-title {
    text-align: center;
    font-size: 12px;
}

.card-value {
    text-align: center;
    font-size: 16px;
}

.card-dashboard-icon {
    font-size: 35px;
    color: var(--icon-color);
}