.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 1rem;
}

.profile__left {
    width: 100%;
}

.profile-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    cursor: pointer;
    height: 56px;
    border-radius: 10px;
}

.profile-settings {
    display: grid;
    gap: 67px;
}

.profile-settings select {
    width: 100%;
    margin-bottom: 26px;
}

.profile-settings h2 {
    margin-bottom: 26px;
}

.profile-settings-toggle {
    display: flex;
    justify-content: space-between;
}

.toggle {
    display: flex;
    align-items: center;
    background-color: var(--border-color);
    border-radius: 12px;
    width: 36px;
    height: 14px;
    cursor: pointer;
}

.toggle input {
    display: none;
}

.slider {
    display: block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    filter: drop-shadow(-1px 1px 1px rgba(51, 51, 51, 0.25));
    border-radius: 50%;
    transition: transform 0.3s;
}

.toggle input:checked+.slider {
    transform: translateX(20px);
}

.profile__right {
    width: 100%;
}

@media (min-width: 768px) {
    .profile {
        justify-content: space-between;
        flex-direction: row;
        max-width: 1440px;
        padding: 0px 44px;
    }

    .profile__left {
        width: 50%;
        padding-right: 20px;
        border-right: 1px solid #ccc;
        max-width: 500px;
    }

    .profile__right {
        width: 50%;
        padding: 0 2rem;
    }
}