.container__dashboard {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Estilos para card superiores */

.container_chart-board {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 2rem;
}

.chart_board-cards {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 1rem;
}

.chart_board-week {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 113px;
    border: 1px solid var(--border-color);
    background: inherit;
    color: inherit;
}

.chart_board-week h1 {
    display: flex;
    justify-content: center;
    background: inherit;
    z-index: 2;
}

/* Estilos del Chart */

.chart_board {
    display: grid;
    gap: 1rem;
    padding: 1rem;
}

.chart_board-tittle {
    text-align: center;
}

.chat_board-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.container_buttons-dashboard {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 19px;
}

.button_dashboard-month,
.button_dashboard-year {
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 0px 20px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: inherit;
    letter-spacing: 1.25px;
    height: 40px;
}

.button_dashboard-month {
    background-color: var(--main-color);
    color: #fff;
}

.button_dashboard-year {
    background-color: transparent;
    border: solid 1px var(--border-color);
}

/* Estilos para las card inferiores */

.chart_board-bottoms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    width: 100%;
}

@media (min-width:768px) {
    .chart_board-cards {
        max-width: 50%;
    }

    .chart_board-bottoms {
        width: 100%;
        flex-direction: row;
        gap: 10px;
    }
}

@media(min-width:1200px) {
    .container__dashboard {
        width: calc(100% - 230px);
        margin-left: 230px;
        max-width: 2160px;
        gap: 20px;
    }

    /* Estilos card superiores */
    .chart_board,
    .container_chart-board {
        padding: 0px 44px;
    }

    .chart_board-cards {
        justify-content: flex-start;
    }

    .container_buttons-dashboard {
        display: flex;
        width: auto;
        gap: 19px;
    }

    /* Estilos del Chart */

    .chat_board-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .chart_board-tittle {
        text-align: left;
    }

    /* Estilos para las cards inferiores */
    .chart_board-bottoms {
        padding: 0px 44px;
        justify-content: space-between;
    }
}