.user-options {
    display: flex;
    flex-direction: column;
    padding: 0px 44px;
    gap: 23px;
}

.user-options__actions {
    display: flex;
    justify-content: space-between;
}

.user__options {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.user__options p {
    color: #2969E3;
    font-weight: 500;
}

.user__button {
    gap: 12px;
}
