.help-section {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 10px;
}

.faq-list {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    margin-top: 20px;
    gap: 20px;
}

.faq {
    display: grid;
    min-height: 80px;
}

.faq__question, .faq__question--expanded {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    color: inherit;
    box-shadow: 1px 0px 4px 0px var(--border-color);
    user-select: none;
    transition: background-color 0.3s, border-radius 0.3s, font-weight 0.3s;
}

.faq__question--expanded {
    border-radius: 10px 10px 0px 0px;
    background-color: var(--border-color);
    color:#000;
    font-weight: 600;
}

.faq__icon, .faq__icon--expanded {
    font-size: 18px;   
    transition: transform 0.3s;
}

.faq__answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.faq__answer ul li {
    list-style: decimal;
    margin: 1rem;
}

.faq__answer--expanded {
    max-height: 1000px;
    padding: 1rem;
    border: 1px solid var(--border-color);
}

@media(min-width:1200px) {
    .help-section {
        padding: 0px 44px;
    }
}
