.add-user-form {
    display: flex;
    flex-direction: column;
    padding: 0px 44px;
    gap: 23px;
}

.button-group {
    display: flex;
    gap: 20px;
}

.form-group {
    max-width: max-content;
    position: relative;
}

.form-group input {
    width: 302px;
}

.password-toggle {
    position: absolute;
    right: 10px;
    top: 6px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.button-group button {
    max-width: 200px;
}

.note {
    color: #2969E3;
    margin: 20px;
}