.add-user-form {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.add-user-form form {
    display: grid;
    gap: 20px;
}

.form-group {
    display: grid;
    position: relative;
}

.form-group input,
.form-group select {
    width: 100%;
}

.password-toggle {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    right: 5px;
    cursor: pointer;
    height: 100%;
    font-size: 24px;
    z-index: 10;
}

.button-group button {
    max-width: 180px;
}

.note {
    color: var(--main-color);
    border-radius: 8px;
    padding: 1rem;
    background: rgba(41, 105, 227, 0.10);
}

.note::before {
    content: "*";
    margin-right: 4px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

@media (min-width: 768px) {
    .add-user-form form {
        max-width: 500px;
    }
}