.container__navbar {
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    gap: 20px;
    width: 100%;
    padding: 1rem 20px;
    background-color: var(--main-color);
    color: #fff;
}

.navbar__search {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: center;
    order: 3;
}

.navbar__search-input {
    width: 100%;
}

.navbar__search-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 25px;
    color: inherit;
    cursor: pointer;
}

.navbar__notification {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 40px;
    order: 2;
}

.navbar__notification-icon {
    font-size: 25px;
}

.navbar__notification-badge {
    position: absolute;
    top: 4px;
    right: 0;
    border: solid 1px #fff;
    border-radius: 50%;
    padding: 6px;
    width: 13px;
    background-color: red;
}

.navbar__user {
    display: flex;
    align-items: center;
    order: 1;
}

.navbar__user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

@media(min-width:1200px) {
    .container__navbar {
        height: 78px;
        padding: 0px 44px;
        color: var(--text-color);
        background-color: var(--background-color);        
        box-shadow: 1px 0px 4px 0px rgba(48, 48, 48, 0.15);
        z-index: 20;
    }

    .navbar__search-input {
        width: 659px;
    }

    .navbar__search {
        order: 1;
        width: auto;
    }

    .navbar__notification {
        order: 2;
    }

    .navbar__user {
        order: 3;
    }


}