.container__navbar {
    display: flex;
    height: 78px;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    padding: 0px 44px;
}

.navbar__search {
    display: flex;
    align-items: center;
    position: relative;
}

.navbar__search-input {
    width: 100%;
}

.navbar__search-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 25px;
    color: #ccc;
    cursor: pointer;
}

.navbar__notification {
    display: flex;
    align-items: center;
    font-size: 20px;
    position: relative;
    cursor: pointer;
}

.navbar__notification-icon {
    font-size: 22px;
}

.navbar__notification-badge {
    position: absolute;
    background-color: red;
    top: -3px;
    right: -4px;
    border: solid 1px #fff;
    border-radius: 50%;
    padding: 6px;
    width: 13px;
}

.navbar__user {
    display: flex;
    align-items: center;
}

.navbar__user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

@media(min-width:1200px) {
    .navbar__search-input {
        width: 659px;
    }

}