.sidebar {
    background-color: #2969e3;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    width: 230px;
    height: 100vh;
    padding: 36px 20px;
    position: fixed;
    top: 0;
    gap: 10px;
    left: -250px;
    transition: left 0.3s;
    z-index: 1000;
}

.sidebar.open {
    left: 0;
}

.sidebar__toggle {
    display: flex;
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1001;
    color: #ffffff;
    background-color: #003ebb;
}

.sidebar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 3px 0;
    transition: background-color 0.3s;
}

.sidebar__toggle.open .bar {
    background-color: #003ebb;
}

.sidebar__logo {
    margin-bottom: 20px;
}

.sidebar__logo img {
    max-width: 100%;
}

.sidebar__link {
    display: flex;
    align-items: center;
    gap: 23px;
    padding: 10px 20px;
    width: 190px;
    height: 51px;
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.3s;
    cursor: pointer;
}

.sidebar__link:hover {
    border-radius: 8px;
    background: #003ebb;
}

.sidebar__link:last-child {
    margin-top: auto;
}

.sidebar__icon {
    margin-right: 10px;
}

@media (min-width: 769px) {
    .sidebar {
        left: 0;
    }

    .sidebar__toggle {
        display: none;
    }
}