.remove__bg {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.upload-icon,
.preview-image,
.result-image {
    height: auto;
    aspect-ratio: 1;
    margin: auto;
    border-radius: 10px;
}

.upload-icon {
    cursor: pointer;
}

.preview-image,
.result-image {
    border: solid 1px var(--border-color);
    background: #fff;
    cursor: pointer;
}

.upload-image-text {
    display: flex;
    margin: 10px auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    background-color: transparent;
    color: inherit;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

.inactive-button {
    cursor: not-allowed;
}

@media (min-width: 768px) {
    .remove__bg {
        display: flex;
        margin: 0;
        justify-content: flex-start;
    }

    .upload-icon,
    .preview-image,
    .result-image {
        width: 141px;
    }

    .upload-image-text {
        font-size: 14px;
    }
}