.add-product-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.left-inputs,
.center-inputs,
.right-inputs {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.right-inputs,
.center-inputs {
    gap: 20px;
}

.center-inputs select {
    width: 100%;
    padding: 8px;
}

.subtitle {
    font-weight: bold;
}

.toggle-stock-controller {
    display: flex;
    justify-content: space-between;
}

.toggle-label {
    display: flex;
    align-items: center;
    background-color: #ccc;
    border-radius: 12px;
    width: 50px;
    height: 20px;
    cursor: pointer;
}

.toggle-label input {
    display: none;
}

.toggle-switch {
    display: block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 50%;
    transition: transform 0.3s;
}

.toggle-label input:checked+.toggle-switch {
    transform: translateX(30px);
}

.stock-inputs {
    display: grid;
    gap: 10px;
}

.stock-inputs input:disabled {
    cursor: not-allowed;
    background-color: #ccc;
}

.button-group-products {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    gap: 16px;
}

.button-group-products button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.input_file {
    display: block;
}

@media (min-width: 768px) {
    .add-product-form {
        flex-direction: row;
        margin-top: 63px;
    }
}