.product-options {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.product-options__actions {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.product-options__dropdown {
    display: flex;
    gap: 20px;
}

.product-options__dropdown select {
    width: 100%;
}

.product_actions {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media (min-width: 768px) {
    .product-options__actions {
        justify-content: space-between;
        flex-direction: row;
    }

    .product-options__dropdown select {
        width: auto;
    }

    .product-options__dropdown {
        width: 100%;
    }

    .product-options__dropdown:nth-child(1) {
        width: 50%;
    }

    .product-options-button {
        width: 50%;
    }

}