@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --light-theme-background-color: #F4F7FF;
    --light-theme-text-color: #303030;
    --dark-theme-background-color: #1c1c1c;
    --dark-theme-text-color: #F4F7FF;
    --border-color: #ccc
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--light-theme-background-color);
    color: var(--light-theme-text-color);
}

body.darkmode {
    background-color: var(--dark-theme-background-color);
    color: var(--dark-theme-text-color);
}

h4 {
    font-size: 22px;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: 0.25;
}

p {
    font-size: 14px;
    font-weight: 400;
}

img {
    display: block;
    width: 100%;
}

a {
    color: #F4F7FF;
    text-decoration: none;
}

input {
    outline: none;
    border-radius: 8px;
    padding: 10px;
    border: none;
    border: 1px solid #cfcfcf;
    font-family: inherit;
    background-color: #FFF;
    margin-bottom: 10px;
    height: 40px;
    position: relative;
}


input:focus {
    outline: none;
    border-bottom-width: 3px;
    border-top: 0px;
    border-color: #2969E3;
    z-index: 2;
    padding: 20px 10px;
}

input:focus::placeholder {
    position: fixed;
    top: 0;
    left: 10px;
    transform: translateY(-20%);
    z-index: 3;
    color: #2969E3;
    font-size: 0.8em;
    transition: transform 0.2s ease-in-out, font-size 0.2s ease-in-out, color 0.2s ease-in-out;
}


select {
    width: max-content;
    height: 40px;
    text-transform: uppercase;
    font-family: inherit;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #E3E3E3;
    outline: none;
}

@media (min-width: 768px) {
    h4 {
        font-size: 32px;
    }

    p {
        font-size: 15px;
    }
}