@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #303030;
}

h4 {
    font-size: 22px;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: 0.25;
}

p {
    font-size: 14px;
    font-weight: 400;
}

img {
    display: block;
    width: 100%;
}

a {
    color: #fff;
    text-decoration: none;
}

@media (min-width: 768px) {
    h4 {
        font-size: 32px;
    }

    p {
        font-size: 15px;
    }
}